# Server Configuration
PORT=3100

# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:3101"
NEXT_PUBLIC_API_KEY="SECRET"

# Web URL
NEXT_PUBLIC_WEB_URL="http://localhost:3100"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3200"

# API Key
STATIC_API_KEY="SECRET"
