# Server Configuration
PORT=3100

# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:3101"
NEXT_PUBLIC_API_KEY="K8x2rL9qP4zS1mD6tB0fG3nJ7vA5hW2e"

# Web URL
NEXT_PUBLIC_WEB_URL="http://localhost:3100"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3200"

# API Key
STATIC_API_KEY="K8x2rL9qP4zS1mD6tB0fG3nJ7vA5hW2e"
