.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) #1a1a1a;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}
