{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Користувач " userName " скасував реєстрацію на подію «" eventName "».</p>") ctaText="Перейти в адмінку" ctaUrl=notificationsLink}}
