{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Ви зареєструвалися на подію «" eventName "». Місце зарезервовано.</p>") ctaText="Переглянути подію та білет" ctaUrl=notificationsLink}}
