{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Нагадування: подія «" eventName "» почнеться " eventDate ".</p>") ctaText="Переглянути подію" ctaUrl=notificationsLink}}
