{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Команда «" teamName "» (" membersCount " учасників) зареєструвалася на подію «" eventName "».</p><p style=\"margin:0;\">Перейдіть в адмінку для підтвердження.</p>") ctaText="Перейти в адмінку" ctaUrl=notificationsLink}}
