{{> strike-email heading=subject bodyHtml='<p style="margin:0 0 16px;">Натисніть на посилання, щоб встановити новий пароль:</p>' ctaText="Відновити пароль" ctaUrl=(concat frontendUrl "?token=" token) }}
