{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Ваша команда зареєстрована на події: " eventsList ".</p><p style=\"margin:0;\">Для участі необхідно зареєструватися та оплатити через корзину.</p>") ctaText="Переглянути події" ctaUrl=notificationsLink}}
