{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">" userName " відхилив запрошення до команди «" teamName "».</p>") ctaText="Переглянути команду" ctaUrl=notificationsLink}}
