{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">" inviterName " запросив вас до команди «" teamName "».</p>") ctaText="Перейти в особистий кабінет" ctaUrl=notificationsLink}}
