<h2>{{subject}}</h2>
<p>{{applicantName}} прийняв запит на передачу права власності на команду "{{teamName}}".</p>
{{#if notificationsLink}}
<p><a href='{{notificationsLink}}'>Перейти в особистий кабінет — переглянути деталі запиту</a></p>
{{/if}}