{{> strike-email heading="До Вашої команди бажають вступити" bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Користувач " applicantName " хоче вступити до команди " teamName ".</p>") ctaText="Перейти в особистий кабінет" ctaUrl=notificationsLink secondaryUrl=applicantProfileLink secondaryText="Переглянути картку учасника"}}
