{{> strike-email heading=subject bodyHtml=(concat "<p style=\"margin:0 0 16px;\">Вашу заявку на вступ до команди «" teamName "» відхилено.</p>") ctaText="Перейти до команд" ctaUrl=notificationsLink}}
