<h2>{{subject}}</h2>
<p>
  Адміністратор
  {{adminName}}
  переназначив власника команди "{{teamName}}".
</p>
{{#if notificationsLink}}
  <p><a href='{{notificationsLink}}'>Перейти в особистий кабінет</a></p>
{{/if}}