<h2>{{subject}}</h2>
<p>
  Адміністратор
  {{adminName}}
  призначив вас власником команди "{{teamName}}".
</p>
{{#if notificationsLink}}
  <p><a href='{{notificationsLink}}'>Перейти в особистий кабінет </a></p>
{{/if}}