<h2>{{subject}}</h2>
<p>{{applicantName}} хоче передати вам право власності на команду "{{teamName}}".</p>
{{#if notificationsLink}}
<p><a href='{{notificationsLink}}'>Перейти в особистий кабінет — прийняти або відхилити запит</a></p>
{{/if}}